.dialog-wrapper {
    position: absolute;
    top: 500px;
    left: 200px;
}

.user-info {
  display: flex;
  align-items: center;
  padding: 20px 0px 20px 20px;
  border-bottom: 1px solid #ddd;
}

.user-name {
  display: block;
}

.admin {
  color: gray;
}

.user-info-label {
  margin-left: 20px;
}

.logout {
  margin: 20px;
  cursor: pointer;
}

.logout-label {
  margin-left: 20px;
}
